#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  /* width: 1500px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
  
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

a.page:hover {
  color:#379cfd;
}

a:hover {
  color: #37fd9c;
}

.repo, .page {
  /* height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms; */
}
.page:hover {
  filter: drop-shadow(0 0 2em #37fd9caa);
}
.repo:hover {
  filter: drop-shadow(0 0 2em #379cfdaa);
}

.card {
  /* padding: 2em; */
}

.read-the-docs {
  color: #000000;
}
