.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    height: 100px;
}

.logoInternal {
    display: flex;
   align-items: center;
   gap: 0;
}

.logoRo {
    height: 46px;
    width: 46px;
    padding: 5px 10px;
}

.logoRoCor {
    height: 46px;
}